<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- The WPS services endpoint -->	
	<bean id="OnlineStatsWPS" class="it.geosolutions.unredd.onlinestats.OnlineStatsWPS"/>
	<!-- The PPIO for the Statistic Configuration Bean -->
	<bean id="statisticConfigurationPPIO" class="it.geosolutions.unredd.onlinestats.ppio.StatisticConfigurationPPIO"/>
</beans>